{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1> 마이페이지에 오신 것을 환영합니다</h1>
<h3>이름: {{user.profile.name}}</h3>
<p>팔로워 {{user.profile.followers.count}}명</p>
{% for follower in user.profile.followers.all %}
    <a href="{% url 'users:mypage' follower.user.id %}">{{ follower.name }}</a><br>
{% endfor %}
<p>팔로잉 {{user.profile.followings.count}}명</p>
{% for following in user.profile.followings.all %}
    <a href="{% url 'users:mypage' following.user.id %}">{{ following.name }}</a><br>
{% endfor %}

{% if request.user != user %}
    {% if request.user.profile in user.profile.followers.all %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-outline-info">언팔로우</button>
        </a>
    {% else %}
        <a href="{% url 'users:follow' user.id %}">
            <button type="button" class="btn btn-info">팔로우</button>
        </a>
    {% endif %}
{% endif %}
<br>
<h2>내 게시글</h2> 
<div> 
    {% for post in myposts %} 
    <div> 
        <hr/> 
        <h3>{% if post.post_type == "Q" %}
            [질문] 
        {% elif post.post_type == "A" %}
            [답변]
        {% else %}
            [기타]
        {% endif %}
         {{ post.title }}</h3> 
        {{post.writer}} | {{post.pub_date}}<br> 
        {{post.summary}}
        <a href="{% url 'main:detail' post.id %}">자세히 보기</a>
        <br>
    </div> 
    {% endfor %} 
</div>
{% endblock %}